[submodule "package/luci-app-argon-config"]
	path = package/luci-app-argon-config
	url = https://github.com/jerrykuku/luci-app-argon-config
[submodule "package/luci-theme-argon"]
	path = package/luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon
[submodule "package/luci-app-temp-status"]
	path = package/luci-app-temp-status
	url = https://github.com/gSpotx2f/luci-app-temp-status
[submodule "package/luci-app-alwaysonline"]
	path = package/luci-app-alwaysonline
	url = https://github.com/muink/luci-app-alwaysonline.git
[submodule "package/luci-app-internet-detector"]
	path = package/luci-app-internet-detector
	url = https://github.com/gSpotx2f/luci-app-internet-detector
[submodule "package/luci-app-netspeedtest"]
	path = package/luci-app-netspeedtest
	url = https://github.com/muink/luci-app-netspeedtest.git
